* {
  box-sizing: border-box;
}

html {
  --base-color: #fff;
  --dark-color: #2a2a2a;
  --shade-color: #606368;
  --success-color: #18802a;
  --warning-color: #b15824;
  --blue-color: #1676f3;
  --light-background: #d5d7db;
  --grey-background: #1a39601a;

  --spacing: 16px;

  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-size: 18px;
  line-height: 1.5rem;
}

[hidden] {
  display: none;
}

a {
  color: var(--dark-color);
}

a:visited,
a:active {
  color: var(--shade-color);
}

header,
main,
nav {
  padding: var(--spacing);
}

nav {
  height: 3rem;
}

header {
  position: relative;
  text-align: center;
  background: var(--dark-color);
  color: var(--base-color);
}

main {
  width: 95%;
  margin: auto;
  height: calc(100vh - 6rem - 32px);
  display: flex;
  justify-content: space-between;
}

main > crossword-forms-view {
  flex: 2;
}

main > crossword-puzzle-view {
  flex: 3;
  align-self: center;
}

.heading-primary {
  color: var(--blue-color);
}

.logo {
  background: url(/public/images/crossword-icon-white-512.png) center
    center/cover no-repeat;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 20%;
  left: 2%;
}
